<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Jacques Brel</title>
</head>
<body>
    <h1>Who's Jacques Brel</h1>

    <p>Jacques Brel was from {{{ nationality }}} and here are his activities: <br> {{notes}}</p>
    <p>firstname: {{{firstname}}}</p>
    <p>surname: {{{surname}}}</p>
    <p>birthdate: {{{birthdate}}}</p>
    <p>deathdate: {{{deathdate}}}</p>
</body>
</html>